/* all fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-dark: #131313;
  --color-light: #727272;
  --color-brand: #ff900e;
  --bg-color: rgba(255, 144, 14, 0.1);
  --color-white: #ffffff;
}

/* reset project */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--color-white);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

main {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}

/* display none */
.d-none {
  display: none;
}

/* =========================
   main title
============================ */
.main-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: var(--color-dark);
}

/* =========================
   section title
============================ */
.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--color-dark);
}

/* =========================
   sub-section title
============================ */
.sub-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

/* =========================
   primary text
============================ */
.primary-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light);
}
/* =========================
   button primary
============================ */
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: var(--color-brand);
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

/* =========================
   header background
============================ */
.header-background {
  background: rgba(255, 144, 14, 0.1);
  width: 90%;
  margin: 0 auto;
  height: 900px;
}

/* =========================
   navbar style
============================ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.logo {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: var(--color-dark);
}

.nav-items .nav-item-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 34px;
}

.nav-items .nav-item-list li {
  display: inline-block;
}

.nav-item-list li a {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #424242;
}

/* =========================
   hero style
============================ */
.hero-section {
  text-align: center;
  margin-top: 102px;
}

.hero-section .primary-text {
  margin-top: 30px;
}

.hero-section .btn-primary {
  margin-top: 33px;
}

.hero-image {
  position: relative;
  width: 100%;
  top: 50px;
}

/* =========================
   feature section style
============================ */
.feature-wrapper {
  margin-top: 310px;
  display: flex;
  align-items: center;
  column-gap: 65px;
  justify-content: space-between;
}

.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 50%;
  gap: 24px;
}

.feature-image img {
  width: 260px;
  height: 250px;
}

.feature-info {
  flex-basis: 50%;
}

.feature-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: var(--color-dark);
  margin-bottom: 24px;
}

.color-light {
  color: var(--color-light);
}

.color-brand {
  color: var(--color-brand);
}

.feature-info .btn-primary {
  margin-top: 32px;
}

/* =========================
   love and enjoy section style
============================ */
.love-section-wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.love-section-text {
  flex-basis: 45%;
}

.love-section-image {
  flex-basis: 55%;
}
.love-section-image img {
  width: 100%;
  height: 100%;
}

.section-header {
  padding-left: 25px;
  border-left: 3px solid var(--color-brand);
  margin-bottom: 24px;
}

.love-section-item {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 25px 20px 25px 25px;
  margin-top: 10px;
}
/* =========================
   brand style
============================ */
.brand {
  display: flex;
  align-items: center;
  column-gap: 155px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  padding: 41px 0;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
