/* all fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-dark: #131313;
  --color-light: #727272;
  --color-brand: #ff900e;
  --bg-color: rgba(255, 144, 14, 0.1);
  --color-white: #ffffff;
}

/* reset project */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--color-white);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

main {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 73.125rem;
  margin: 0 auto;
}
section {
  margin-top: 8.125rem;
}

/* =========================
   main title
============================ */
.main-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.6875rem;
  text-align: center;
  color: var(--color-dark);
}

/* =========================
   section title
============================ */
.section-title {
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 3.3125rem;
  color: var(--color-dark);
}

/* =========================
   sub-section title
============================ */
.sub-section-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--color-dark);
}

/* =========================
   primary text
============================ */
.primary-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--color-light);
}
/* =========================
   button primary
============================ */
.btn-primary {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  color: #ffffff;
  background: var(--color-brand);
  padding: 1.25rem 1.5625rem;
  border: 0;
  border-radius: 0.3125rem;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--color-brand);
  transition: color 1s, background 1s;
}

.btn-primary:hover {
  border: 1px solid var(--color-brand);
  color: var(--color-brand);
  background: var(--color-white);
}

/* =========================
   header background
============================ */
.header-background {
  background: rgba(255, 144, 14, 0.1);
  width: 78.125rem;
  margin: 0 auto;
  height: 61.25rem;
}

/* =========================
   navbar style
============================ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.logo {
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 3.3125rem;
  text-align: center;
  color: var(--color-dark);
}

.nav-items .nav-item-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2.125rem;
}

.nav-items .nav-item-list li {
  display: inline-block;
}

.nav-items .nav-item-list li:hover a {
  color: var(--color-dark);
}

.nav-item-list li a {
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #424242;
}

/* =========================
   hero style
============================ */
.hero-section {
  text-align: center;
  margin-top: 6.375rem;
}

.hero-section .primary-text {
  margin-top: 1.875rem;
}

.hero-section .btn-primary {
  margin-top: 2.0625rem;
}

.hero-image {
  position: relative;
  width: 100%;
  top: 3.125rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =========================
   feature section style
============================ */
.feature-wrapper {
  margin-top: 21.25rem;
  display: flex;
  align-items: center;
  column-gap: 4.0625rem;
  justify-content: space-between;
}

.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 50%;
  gap: 1.5rem;
}

.feature-image img {
  width: 16.25rem;
  height: 15.625rem;
}

.feature-info {
  flex-basis: 50%;
}

.feature-title {
  font-weight: 500;
  font-size: 2.8125rem;
  line-height: 3.3125rem;
  color: var(--color-dark);
  margin-bottom: 1.5rem;
}

.color-light {
  color: var(--color-light);
}

.color-brand {
  color: var(--color-brand);
}

.feature-info .btn-primary {
  margin-top: 2rem;
}

/* =========================
   love and enjoy section style
============================ */
.love-section-wrapper {
  display: flex;
  align-items: center;
  column-gap: 3.125rem;
}

.love-section-text {
  flex-basis: 45%;
}

.love-section-image {
  flex-basis: 55%;
}
.love-section-image img {
  width: 100%;
  height: 100%;
}

.love-section-image .btn-primary {
  position: relative;
  top: -4.375rem;
  left: -3.125rem;
}

.btn-big {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.375rem;
}

.section-header {
  padding-left: 1.5625rem;
  border-left: 0.1875rem solid var(--color-brand);
  margin-bottom: 1.5rem;
}

.love-section-item {
  background: #ffffff;
  box-shadow: 0rem 0.25rem 1.875rem rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 1.5625rem 1.25rem 1.5625rem 1.5625rem;
  margin-top: 0.625rem;
}

/* =========================
   some facts style
============================ */
.facts-section-header {
  margin-bottom: 6.25rem;
}

.facts-section-header .section-title {
  margin-bottom: 1.25rem;
}

.facts-section-header .primary-text {
  width: 55%;
}

.our-works {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}

.work {
  text-align: center;
  border: 0.0625rem solid var(--color-brand);
  border-radius: 0.3125rem;
  padding: 2.1875rem 1.5625rem;
  box-shadow: var(--bg-color);
  transition: 1s;
}

.work:hover {
  transform: scale(1.1);
}

.work img {
  width: 2.8262rem;
  height: 2.8262rem;
  margin-bottom: 0.625rem;
}

.work-number {
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: 3.3125rem;
  color: #424242;
}

.work-text {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #727272;
}

/* =========================
   client style
============================ */
.client-section-wrapper {
  padding-top: 8.15rem;
  text-align: center;
}

.client-description {
  margin: 3rem 0;
}
.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.client {
  margin-top: 1.25rem;
}
.clients .client img {
  width: 18.75rem;
  height: 18.75rem;
  /* border: 0.0625rem solid var(--color-brand); */
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 1.25rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.client .sub-section-title {
  padding-bottom: 0.9375rem;
}

.product-ratting {
  padding-bottom: 0.3125rem;
}

.fill-icon {
  color: #ffc014;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
}

.empty-icon {
  color: #aeaeae;
  width: 0.75rem;
  height: 0.75rem;
  opacity: 0.25;
}

.ratting-d {
  font-weight: 400;
  font-size: 0.9182rem;
  color: #a2a2a2;
  margin-left: 1rem;
}

/* =========================
   brand style
============================ */
.brand-section-title {
  text-align: center;
  margin-bottom: 1.875rem;
}

.brand-section-description {
  text-align: center;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.875rem;
  padding-top: 3.125rem;
}

.brand img {
  width: 9.5rem;
  height: 3.125rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* =========================
   footer style
============================ */
.footer-content {
  background: #fff4e7;
  margin: 8.125rem 0;
}

.footer-content p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  color: #424242;
  padding: 1.875rem 0;
}
